<div class="row-fluid">

  <div class="span4">
    <h2>getUserSettings</h2>
    <p>
      <pre><%= SNIPPETS[:user_settings] %></pre>
      Результат: <%= eval(SNIPPETS[:user_settings]) %>
    </p>
    <p><a class="btn" target="_blank" href="http://vk.com/developers.php?o=-1&p=getUserSettings">API документация &raquo;</a></p>
  </div><!--/span-->

  <div class="span4">
    <h2>Список групп</h2>
    <p>
      <pre><%= SNIPPETS[:groups] %></pre>
      Результат:<br />
      <%= eval(SNIPPETS[:groups]).first(7).join('<br />') %>
    </p>
    
    <p><a class="btn" target="_blank" href="http://vk.com/developers.php?o=-1&p=groups.get">API документация &raquo;</a></p>
  </div><!--/span-->

  <div class="span4">
    <h2>Список друзей</h2>
    <p>
      <pre><%= SNIPPETS[:friends] %></pre>

      Результат:<br />
      <%= eval(SNIPPETS[:friends]).join('<br />') %>
    </p>
    
    <p><a class="btn" target="_blank" href="http://vk.com/developers.php?o=-1&p=friends.get">API документация &raquo;</a></p>
  </div><!--/span-->

</div><!--/row-->
<div class="row-fluid">

  <div class="span4">
    <h2>Список аудиозаписей</h2>
    <p>
      <pre><%= SNIPPETS[:audio] %></pre>
      
      Результат:<br />
      <%= eval(SNIPPETS[:audio]).join('<br />') %>
    </p>
    
    <p><a class="btn" target="_blank" href="http://vk.com/developers.php?o=-1&p=audio.get">API документация &raquo;</a></p>
  </div><!--/span-->


  <div class="span4">
    <h2>Записи на стене</h2>
    <p>
      <pre><%= SNIPPETS[:wall] %></pre>
      
      Результат:<br />
      <%= eval(SNIPPETS[:wall]).join('<br />') %>
    </p>
    <p><a class="btn" target="_blank" href="http://vk.com/developers.php?o=-1&p=wall.get">API документация &raquo;</a></p>
  </div><!--/span-->

  <div class="span4">
    <h2>TODO</h2>
    <p>...</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div><!--/span-->
</div><!--/row-->
