<%
  def show_api_demo(title, doc_name, ruby_code)
    str =  '<div class="span4">'+"\n"
    str += '  <h2>'+title+'</h2>'+"\n"
    str += '  <p>'+"\n"
    str += '    <pre>'+ ruby_code +'</pre>'+"\n"
    result = eval(ruby_code)
    if result.class == [].class
      result = result.join("<br />")
    end
    str += 'Результат: ' + result.to_s + "\n"
    str += '  </p>' + "\n"
    str += '  <p><a class="btn" target="_blank" href="http://vk.com/developers.php?o=-1&p='+ doc_name +'">API документация &raquo;</a></p>'+"\n"
    str += '</div><!--/span-->' +"\n"
  end
%>

<div class="row-fluid">

<%= show_api_demo('getUserSettings', 'getUserSettings', 
  '@app.get_user_settings'
) %>


<%= show_api_demo('Список групп', 'groups.get', 
'@app.groups.get(:extended=>1).map do |group|
  "#{group[:name]} (#{group[:screen_name]})"
end'
) %>
  

<%= show_api_demo('Список друзей', 'friends.get', 
'@app.friends.get(:fields=>"first_name,last_name", :count=>7).map do |friend|
  "#{friend[:first_name]} #{friend[:last_name]}"
end'
) %>
  
</div><!--/row-->

<div class="row-fluid">
  <div class="span8">
    <h2>Фотографии</h2>
    <p>
<pre>
&lt;%
  # выбираем 7 последний загруженных фотографий
  @photos = @app.photos.get_all(:count=>7)
  # первым элементом массива - количество фотографий, убираем.
  cnt = @photos.shift
%&gt;
Количество: &lt;%= cnt %&gt;
&lt;br /&gt;
Фотографии: &lt;br /&gt;
&lt;% @photos.each do |photo| %&gt;
  &lt;a target="_blank" href="&lt;%= photo[:src_big] %&gt;"&gt;&lt;img border="0" src="&lt;%= photo[:src_small] %&gt;" /&gt;&lt;/a&gt;
&lt;% end %&gt;
</pre>
    Результат:<br>

    <%
      @photos = @app.photos.get_all(:count=>7)
      cnt = @photos.shift
    %>
    Количество: <%= cnt %>
    <br />
    Фотографии: <br />
    <% @photos.each do |photo| %>
    <a target="_blank" href="<%= photo[:src_big] %>"><img border="0" src="<%= photo[:src_small] %>" /></a>
    <% end %>
    </p>
    <p><a class="btn" target="_blank" href="http://vk.com/developers.php?o=-1&p=photos.getAll">API документация &raquo;</a></p>
  </div><!--/span-->
</div><!--/row-->


<div class="row-fluid">
  <div class="span8">
    <h2>Фотографии из Группы</h2>
    <p>
<pre>
&lt;%
  # выбираем 7 последний загруженных фотографий, для группы с id=2850
  @photos = @app.photos.get_all(:owner_id=>-2850 ,:count=>7)
  # первым элементом массива - количество фотографий, убираем.
  cnt = @photos.shift
%&gt;
Количество: &lt;%= cnt %&gt;
&lt;br /&gt;
Фотографии: &lt;br /&gt;
&lt;% @photos.each do |photo| %&gt;
  &lt;a target="_blank" href="&lt;%= photo[:src_big] %&gt;"&gt;&lt;img border="0" src="&lt;%= photo[:src_small] %&gt;" /&gt;&lt;/a&gt;
&lt;% end %&gt;
</pre>
    Результат:<br>

    <%
      @photos = @app.photos.get_all(:owner_id=>-2850 ,:count=>7)
      cnt = @photos.shift
    %>
    Количество: <%= cnt %>
    <br />
    Фотографии: <br />
    <% @photos.each do |photo| %>
    <a target="_blank" href="<%= photo[:src_big] %>"><img border="0" src="<%= photo[:src_small] %>" /></a>
    <% end %>
    </p>
    <p><a class="btn" target="_blank" href="http://vk.com/developers.php?o=-1&p=photos.getAll">API документация &raquo;</a></p>
  </div><!--/span-->
</div><!--/row-->

<div class="row-fluid">
  <div class="span8">
    <h2>Фотографии пользователя</h2>
    <p>
<pre>
&lt;%
  # выбираем 7 последний загруженных фотографий, для пользователя с id=1
  @photos = @app.photos.get_all(:owner_id=>1,:count=>7)
  # первым элементом массива - количество фотографий, убираем.
  cnt = @photos.shift
%&gt;
Количество: &lt;%= cnt %&gt;
&lt;br /&gt;
Фотографии: &lt;br /&gt;
&lt;% @photos.each do |photo| %&gt;
  &lt;a target="_blank" href="&lt;%= photo[:src_big] %&gt;"&gt;&lt;img border="0" src="&lt;%= photo[:src_small] %&gt;" /&gt;&lt;/a&gt;
&lt;% end %&gt;
</pre>
    Результат:<br>

    <%
      @photos = @app.photos.get_all(:owner_id=>1,:count=>7)
      cnt = @photos.shift
    %>
    Количество: <%= cnt %>
    <br />
    Фотографии: <br />
    <% @photos.each do |photo| %>
    <a target="_blank" href="<%= photo[:src_big] %>"><img border="0" src="<%= photo[:src_small] %>" /></a>
    <% end %>
    </p>
    <p><a class="btn" target="_blank" href="http://vk.com/developers.php?o=-1&p=photos.getAll">API документация &raquo;</a></p>
  </div><!--/span-->
</div><!--/row-->

<div class="row-fluid">

<%= show_api_demo('Список аудиозаписей', 'audio.get', 
'@app.audio.get(:count=>7).map do |audio|
  "#{audio[:artist]}: #{audio[:title]}"
end'
) %>


<%= show_api_demo('Записи на стене', 'wall.get', 
'@app.wall.get(:count=>7).map do |wall_item|
  "#{wall_item[:text]}"
end'
) %>

</div><!--/row-->
