<%
  def show_api_demo(title, doc_name, ruby_code)
    str =  '<div class="span4">'+"\n"
    str += '  <h2>'+title+'</h2>'+"\n"
    str += '  <p>'+"\n"
    str += '    <pre>'+ ruby_code +'</pre>'+"\n"
    result = eval(ruby_code)
    if result.class == [].class
      result = result.join("<br />")
    end
    str += 'Результат: ' + result.to_s + "\n"
    str += '  </p>' + "\n"
    str += '  <p><a class="btn" target="_blank" href="http://vk.com/developers.php?o=-1&p='+ doc_name +'">API документация &raquo;</a></p>'+"\n"
    str += '</div><!--/span-->' +"\n"
  end
%>

<div class="row-fluid">

<%= show_api_demo('getUserSettings', 'getUserSettings', 
  '@app.get_user_settings'
) %>


<%= show_api_demo('Список групп', 'groups.get', 
'@app.groups.get(:extended=>1).map do |group|
  "#{group[:name]} (#{group[:screen_name]})"
end'
) %>
  

<%= show_api_demo('Список друзей', 'friends.get', 
'@app.friends.get(:fields=>"first_name,last_name", :count=>7).map do |friend|
  "#{friend[:first_name]} #{friend[:last_name]}"
end'
) %>
  
</div><!--/row-->
<div class="row-fluid">

<%= show_api_demo('Список аудиозаписей', 'audio.get', 
'@app.audio.get(:count=>7).map do |audio|
  "#{audio[:artist]}: #{audio[:title]}"
end'
) %>


<%= show_api_demo('Записи на стене', 'wall.get', 
'@app.wall.get(:count=>7).map do |wall_item|
  "#{wall_item[:text]}"
end'
) %>

  <div class="span4">
    <h2>TODO</h2>
    <p>...</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div><!--/span-->
</div><!--/row-->
